<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->
    <main>
        <div class="avatar-form">
            <form action="/users/avatar/upload/<%= locals.user.id %>/?_method=PATCH" method="post" enctype="multipart/form-data">
                <h2><label for="avatar">Subir un nuevo Avatar</label></h2>
                <input type="file" name="avatar" id="avatar" accept="image/*">
                <button class="buy-now-button" type="submit">Guardar Avatar</button>            
            </form>
            
        </div>
    </main>

    <!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>