<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->
    <main>
        <div>
            <h2>Email:<%= locals.user.email %> </h2>
            <form action="/users/?_method=DELETE" method="post">
                <button>Eliminar Usuario</button>            
            </form>
            <form action="/users/avatar/upload" method="GET">
                <button type="submit">Modificar Foto de perfil</button>
            </form>
            
        </div>
        <div></div>
    </main>

    <!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>